.video {
    
}

.drop_zone {
    width: 100%;
    min-height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.drop_zone:hover {
    background-color: #f0f0f0;
}